<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="forcongrats.css">
    <title>Thank You</title>
    
    <style>
      
    </style>
  </head>
  <body>
    <h1>🎉 Thank You for Your Feedback! 🎉</h1>
    <h2>Meet the Developers of This Project</h2>

    <div class="wrapper">
      <div class="inner" style="--quantity: 10;">
        <div
          class="card"
          style="--index: 0; --color-card: 142, 249, 252;"
        >
          <div class="img" style="background-image: url('/images/gem.png');"></div>
          <div class="name">Gemnuel Losbañes</div>
        </div>

        <div class="card" style="--index: 1; --color-card: 142, 252, 204;">
          <div class="img" style="background-image: url('/images/jera.png');"></div>
          <div class="name">Jeralyn Protacio</div>
        </div>

        <div class="card" style="--index: 2; --color-card: 142, 252, 157;">
          <div class="img" style="background-image: url('/images/step.png');"></div>
          <div class="name">Stephanie Alado</div>
        </div>

        <div class="card" style="--index: 3; --color-card: 215, 252, 142;">
          <div class="img" style="background-image: url('/images/lys.png');"></div>
          <div class="name">Alyssa Faith Ubana</div>
        </div>

        <div class="card" style="--index: 4; --color-card: 252, 208, 142;">
          <div class="img" style="background-image: url('/images/lance.png');"></div>
          <div class="name">Lance Vincent Palacios</div>
        </div>
      </div>
    </div>
  </body>
</html>
