<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="forLandpage.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <title>Landing Page</title>
</head>
<body>


  <div class="header">
    <div class="logo">
      <img src="/images/letterlogo.png" alt="University Logo">
    </div>
  </div>

  <h1 class="logoTitle">Promissory Note Webpage</h1>
  <p class="subtitle">
    This is for student feedback about their experience when applying for a <br>
    Promissory Note at PHINMA University of Iloilo. Through this project we can identify
    which steps in applying for a Promissory Note need improvement so the process will be faster.
  </p>


  <div class="container">
    <h2>Select User Type</h2>
    <div class="btn-group">
      <button onclick="window.location.href='/student'">Student</button>
      <button onclick="window.location.href='/admin-login'">Admin</button>
    </div>
  </div>


  <footer class="footer">
    <p>© 2025 PHINMA University of Iloilo | Promissory Note Feedback System</p>
  </footer>

</body>
</html>
