* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
     background-image: url("/images/Campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
    }
    body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(243, 242, 242);
  opacity: 0.7;
  z-index: -1;
}

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 800px;
      height: 400px;
    }

   
    .logo-container {
      flex: 1;
     
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .logo-container img {
      width: 230px;
      height: auto;
    }
    .back-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: #64b266;
      color: white;
      border: none;
      padding: 10px 18px;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.3s ease;
      text-decoration: none;
    }
    
    .form-container {
      flex: 1;
      padding: 40px 60px;
      text-align: center;
      background: #ffffff;
    }

    .form-container h2 {
      color: #2f5931;
      margin-bottom: 20px;
      font-weight: 700;
    }

    .form-container p {
      color: red;
      font-size: 14px;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px 15px;
      margin: 10px 0;
      border: 1px solid #a6dba8;
      border-radius: 8px;
      outline: none;
      transition: 0.3s;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      border-color: #64b266;
      box-shadow: 0 0 8px rgba(100, 178, 102, 0.3);
    }

    button {
      width: 100%;
      background-color: #64b266;
      color: white;
      border: none;
      padding: 12px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
      transition: background 0.3s ease;
    }

    button:hover {
      background-color: #4c914e;
    }