body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f8f5;
  display: flex;
}

.sidebar {
  width: 250px;
  background: #429a46;
  color: rgb(2, 5, 2);
  padding: 20px;
  height: 150vh;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background: #075427;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  gap: 15px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;
  margin-bottom: 30px;
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.chart-box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #2c3e50;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50%;
}

.respondents {
  font-size: 18px;
  color: #2ecc71; 
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(46, 204, 113, 0.1);
  padding: 5px 12px;
  border-radius: 8px;
  margin-left: 150%;
}

.respondents i {
  color: #2ecc71;
}