* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/Campus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(243, 242, 242);
  opacity: 0.7;
  z-index: -1;
}


.header {
  position: absolute;
  top: 25px;
  left: 25px;
}

.logo img {
  width: 200px;
  height: auto;
}


.logoTitle {
  font-size: 40px;
  font-weight: 800;
  color: #067c11;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 80px; 
  text-align: center;
}

.subtitle {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #090909;
  line-height: 1.5;
  width: 80%;
  font-weight: 750;
  max-width: 800px;
}


.container {
  margin: 50px auto;
  background: rgb(255, 251, 251);
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

h2 {
  margin-bottom: 25px;
  color: #333;
}

.btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4a90e2;
  color: white;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #357ab8;
  transform: translateY(-3px);
}


.footer {
  background-color: #008000;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border-top: 3px solid #006400;
  margin-top: auto;
}

.footer p {
  margin: 0;
}


@media (max-width: 768px) {
  .logo img {
    width: 160px;
  }

  .logoTitle {
    font-size: 28px;
    margin-top: 70px;
  }

  .subtitle {
    font-size: 16px;
    width: 90%;
  }

  .container {
    padding: 40px 20px;
    width: 95%;
  }

  button {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 130px;
  }

  .logoTitle {
    font-size: 24px;
    margin-top: 60px;
  }

  .subtitle {
    font-size: 14px;
  }

  .container {
    padding: 30px 15px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    padding: 10px;
    font-size: 15px;
  }
}
